<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <title>WORK AT HOME WEB SERVICE</title>
</head>
<body>
<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <a class="navbar-brand" href="/">На Главную</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" style="padding-right: 30px; padding-left: 30px;" href="/jobs">Вакансии</a>
            <a class="nav-item nav-link" style="padding-right: 30px; padding-left: 30px;" href="/work">Работать</a>
            <a class="nav-item nav-link" style="padding-right: 30px; padding-left: 30px;" href="/company">Ваша
                компания</a>
            <a class="nav-item nav-link" style="padding-right: 30px; padding-left: 30px;" href="/user">Личный
                кабинет</a>
            <a class="navbar-brand">
                <img src="static/img/logo.png" height="60">
            </a>

        </div>
    </div>
</nav>
<main role="main">
    {% block content %}{% endblock %}

</main>
</body>
</html>