<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <title>WORK AT HOME AUTHORIZATION</title>
</head>
<body>
<div class="alert alert-warning" role="alert">
    <h1 align="center">Авторизация в сервис Work At Home</h1>
</div>
<div style="margin-left: 20%; margin-right: 20%; width: 60%;">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <p>{{ form.create_acc(onclick="location.href='/create'",
            type="button", class="btn btn-secondary") }}</p>
        <div class="alert alert-danger" role="alert">
            {{data}}
        </div>
    </form>
</div>
{% if message %}
<div class="alert alert-danger" role="alert" align="center">
    <h3>{{ message }}</h3>
</div>
{% endif %}
</body>
</html>