{% extends "base.html" %}
{% block content %}
<br>
<div class="alert alert-info" role="alert">
    <h1 align="center">Добро пожаловать в веб-приложение Work At Home!</h1>
</div>
<div class="alert alert-dark" role="alert">
    <h2>Что здесь и как?</h2> <br>
    <p style="margin-left: 50px; margin-right: 50px;">Уважаемый пользователь, вы находитесь в приложении, которое
        позволяет вам работать, не выходя из дома.
        "Но как можно работать, если у меня нет работы?" - могли бы вы спросить, и мы ответим, что
        в приложении Work At Home можно заполучить работу очень просто! Достаточно нажать на
        "Вакансии" на навигационной панели, и вам откроется уйма возможностей. С нашим приложением сотрудничает
        множество
        корпораций, и у каждой есть свои требования для работников, не забывайте!</p> <br>
    <h2>Личные данные</h2>
    <p style="margin-left: 50px; margin-right: 50px;"> Узнать информацию о себе, если вы однажды потеряете память не
        составит трудностей!
        для этого вам всего лишь нужно будет выбрать "Личный кабинет" на навигационной панели.
    </p>
    <br>
    <h2>Информация о компании</h2>
    <p style="margin-left: 50px; margin-right: 50px;">Как только вас примут на работу, вы сможете узнать все тайны и
        секреты той компании, где решили трудиться,
        выбрав "Ваша компания" на всё той же навигационной панели.
    </p>
    <h2>Работа</h2>
    <p style="margin-left: 50px; margin-right: 50px;">Узнав все грязные секретики и восстановив память, вы всё же
        решаете поработать.
        Для этого нажмите на "Работать". Благодаря прорывным технологиям нашего приложения ваша работа будет максимально
        упрощена
        передовым искусственным интеллектом, что позволит вам тратить минимум времени с максимальной продуктивностью.
        Осталось лишь получить почасовую зарплату, но и эта деталь была учтена. Все выплаты вы сможете увидеть в своём
        личном кабинете.
        А что делать с этими деньгами - решать вам!
    </p> <br>
</div>
<h1 align="center">Удачи!</h1><br><br>
<p style="font-size: 7px;">Компания "Work At Home" не несёт ответственности за осуществление переводов денежных
    единиц.</p>
{% endblock %}